.root {
    max-width: 375px;
    height: 812px;
    font-family: 'SourceSansPro-Regular', Arial, sans-serif;
    background-color: #F2F2F2;
    color: #0F1E36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 32px 0 32px;
    margin: 0 auto;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25); 
  }