.page {
    width: 375px;
    height: 812px;
    font-family: 'SourceSansPro-Regular', Arial, sans-serif;
    background: #FFFFFF;
    color: #0F1E36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 32px 0 32px;
    margin: 0;
}
.header-player {
    background-image: url(../images/band.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 393px;
    position: relative;
    z-index: 1;
    margin-top: -19px;
    padding: 0 32px;
    display: block;
}
.header-player__navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 32px 0 0;
    padding: 0;
    align-items: center;
}
.button {
    border: none;
    background-color: inherit;
    background-position: center;
    background-repeat: no-repeat;
}
.button__back {
    background-image: url(../images/left.svg);
    width: 24px;
    height: 16px;
}
.button__more {
    background-image: url(../images/more.svg);
    width: 42px;
    height: 42px;
}
.content {
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 2;
    border-radius: 27px 27px 0px 0px;
    /* box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin: -153px 0 0; 
    padding: 0 32px;
}
.track {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 57px auto 64px;
}
.track__cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.track__title {
    font-size: 24px;
    line-height: 16px;
    font-weight: bold;
    margin-top: 17px;
    margin: 17px 0 0;
}
.track__artist {
    font-size: 18px;
    line-height: 14px;
    margin: 18px 0 0;
    mix-blend-mode: normal;
    opacity: 0.48;
}
.player-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}
.payer-menu__controls {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}
.button__options {
    background-image: url('../images/options.svg');
    width: 28px;
    height: 15px;
    margin-right: 46px;
}
.button__download {
    background-image: url('../images/download.svg');
    width: 28px;
    height: 22px;
}
.button__loading {
    background-image: url('../images/loading.svg');
    width: 22px;
    height: 24px;
    margin-right: 46px;
}
.button__volume {
    background-image: url('../images/louder.svg');
    width: 31px;
    height: 26px;
}
.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.progress__time {
    font-size: 18px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.progress__bar {
    border: none;
    width: 203px;
    height: 4px;
    position: relative;
    background: #F51E38;
}
.progress__span {
    background-color: #DADADA;
    width: 203px;
    height: .25px;
    display: block;
}
.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    /* display: inline-block; */
    justify-content: space-around;
}
.payer-controls {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.button__backward {
    background-image: url('../images/backward.svg');
    width: 36px;
    height: 22px;
}
.button__play {
    background-image: url('../images/pause.svg');
    width: 20px;
    height: 28px;
    /* background-color: #F51E38; */
}
.button__forward {
    background-image: url('../images/backward.svg');
    width: 36px;
    height: 22px;
    transform: rotate(180deg);
}
.button__outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(245, 30, 56, 0.2);
    border: 1px solid rgba(245, 30, 56, 0.3);

    border-radius: 50%;
    width: 93px;
    height: 93px;
}
.button__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F51E38;
    width: 71px;
    height: 71px;
    border-radius: 50%;
}