@import url('../vendor/normalize.css');

.page {
    font-family: 'Roboto', sans-serif;
    color: #0F1E36;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 375px;
    height: 811px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
  }

.header {
    margin-top: 21px;
    margin-left: 34px;
    margin-right: 319px;
}

/* middle height collapses on safari & extra space below on chrome */
.hamburger {
    width: 22px;
    height: 1.74px;
    background-color: #0F1E36;
    margin-bottom: 4.87px;
    border-radius: .74px;
}

.hamburger_mini {
    width: 12px;
    margin-bottom: 0;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.37;
    font-family: Source Sans Pro, Roboto;
    margin: 29px 268px 13px 31px;
    white-space: nowrap;
}