.tracks__list-length {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.174222px;
    color: #545663;
    margin-right: 21px;
    width: 39px;
    align-items: center;
    text-align: left;
}